## Either use Setting 1 or Setting 2

###### Setting 1 - For OpenAI #################

GENAI_TYPE=ChatOpenAI
OPENAI_MODEL_NAME=gpt-3.5-turbo
OPENAI_API_KEY=<your-key-here>

################################################

###### Setting 2 - For AzureOpenAI ###############################

# GENAI_TYPE=AzureOpenAIChat
# AZURE_ENDPOINT=https://<your-deployment>.openai.azure.com/
# OPENAI_API_VERSION=2024-02-15-preview
# OPENAI_DEPLOYMENT_NAME=gpt-35-turbo
# OPENAI_MODEL_NAME=gpt-35-turbo
# OPENAI_API_KEY=<your-deployment>

# EMBED_OPENAI_API_KEY=<your-key-here>
# EMBED_OPENAI_DEPLOYMENT_NAME=text-embedding-3-large
# EMBED_OPENAI_MODEL_NAME=text-embedding-3-large
# EMBED_OPENAI_API_BASE=https://<your-deployment>.openai.azure.com/
# EMBED_OPENAI_API_TYPE=azure

#################################################################

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=<your-deployment>
LANGCHAIN_PROJECT=SalesCompanion